  .women-hero {

    .container {
      max-width: 1388px;
    }

    &__slider {
      padding: 0 66px;
      position: relative;
      overflow: visible;

      @media screen and (max-width: 767px) {
        padding: 20px;
      }

      .swiper-slide {}
    }

    &__slide {
      display: flex;
      opacity: .3;
      transition: all .3s linear;
      padding: 42px 42px 42px 82px;
      height: 500px;
      position: relative;

      @media screen and (max-width: 1199px) {
        padding: 32px;
      }

      @media screen and (max-width: 1023px) {
        height: 420px;
        padding: 16px;
        border-radius: 16px;
        overflow: hidden;
      }

      @media screen and (max-width: 639px) {
        height: 270px;
        border-radius: 12px;
      }

      &.swiper-slide-active {
        opacity: 1;
      }
    }
  }